<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228754658278-hir19j84sk6mernfl0hdt4k7jo0jmihg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228754658278-hir19j84sk6mernfl0hdt4k7jo0jmihg</string>
	<key>API_KEY</key>
	<string>AIzaSyCsCT6fBXPvTd8mZ_b3GIsm7A_qNz_XdWk</string>
	<key>GCM_SENDER_ID</key>
	<string>228754658278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talky</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-9847c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-9847c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228754658278:ios:02ef8b93ec26b476757c27</string>
</dict>
</plist>